<!DOCTYPE html>
<html>
<head>
	<title>Paso1 - Datos Personales</title>
	<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8" />
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body class="indigo lighten-5">
	<div class="row">
		<div class="s12">
			<nav class="teal darken-4">
			    <div class="nav-wrapper">
			      <a href="#!" class="brand-logo">Fletz</a>
			      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			      <ul class="right hide-on-med-and-down">
			        <li><a href="badges.html">Inicio</a></li>
			      </ul>
			    </div>
			</nav>
			<nav class="teal darken-4">
				<div class="nav-wrapper">
			      <div class="col s12">
			        <a href="#!" class="breadcrumb">Datos Básicos</a>
			      </div>
			    </div>
			</nav>

			<ul class="sidenav" id="mobile-demo">
			    <li><a href="badges.html">Inicio</a></li>
			</ul>
		</div>
	</div>
	<main class="container">
		<div class="row">
			<div class="s12 offset-m3 offset-l3">
				<ul class="collection">
			      <li class="collection-item">
			      	<div class="row">
			      		<div class="col s2">
			      			<img src="https://upload.wikimedia.org/wikipedia/commons/3/38/Wikipedia_User-ICON_byNightsight.png" style="width: 100px; height: 100px; margin-top: 30px;" class="responsive-img" />
			      		</div>
			      		<div class="col s10 row">
			      			<h4>Mis datos</h4>
			      			<div class="input-field col s6">
					          <input placeholder="Nombre" id="nombre" type="text" class="validate">
					          <label for="nombre">Nombre</label>
					        </div>
					        <div class="input-field col s6">
					          <input placeholder="Apellido" id="apeliido" type="text" class="validate">
					          <label for="apeliido">Apellido</label>
					        </div>
			      		</div>
			      		<div class="col s10 offset-m2 offset-l2 row">
			      			<div class="input-field col s6">
					          <input placeholder="Correo electrónico" id="email" type="text" class="validate">
					          <label for="email">Correo Electrónico</label>
					        </div>
					        <div class="input-field col s6">
					          <input placeholder="Teléfono de contacto" id="telefono" type="email" class="validate">
					          <label for="telefono">Telefono</label>
					        </div>
			      		</div>
			      	</div>
			      </li>
			      <li class="collection-item">
			      	<div class="row">
			      		<div class="col s2">
			      			<img src="https://marketplace.canva.com/MAB8iHet5wM/1/thumbnail_large/canva-paper-world-map-icon-MAB8iHet5wM.png" style="width: 100px; height: 100px; margin-top: 30px;" />
			      		</div>
			      		<div class="col s12 m5 l5">
			      			<h4>Desde</h4>
					      	<div class="row">
					      		<div class="col s6">
					      			<select>
								      <option value="" disabled selected>Provincia</option>
								      <option value="1">Chaco</option>
								      <option value="2">Corrientes</option>
								      <option value="3">Tierra del Fuego</option>
								    </select>
								    <label>Donde estoy</label>
					      		</div>
					      		<div class="col s6">
					      			<select>
								      <option value="" disabled selected>Localidad</option>
								      <option value="1">Chaco</option>
								      <option value="2">Corrientes</option>
								      <option value="3">Tierra del Fuego</option>
								    </select>
								    <label>Donde estoy</label>
					      		</div>
					      		<div class="input-field col s12">
						          <input placeholder="Mi Ubicación" id="desde_dom" type="text" class="validate" />
						          <label for="desde_dom">Domicilio, Calle o Ubicación</label>
						        </div>
					      	</div>
			      		</div>
			      		<div class="col s12 m5 l5">
			      			<h4>Hasta</h4>
			      			<div class="row">
			      				<div class="col s6">
					      			<select>
								      <option value="" disabled selected>Provincia</option>
								      <option value="1">Chaco</option>
								      <option value="2">Corrientes</option>
								      <option value="3">Tierra del Fuego</option>
								    </select>
								    <label>Donde estoy</label>
					      		</div>
					      		<div class="col s6">
					      			<select>
								      <option value="" disabled selected>Localidad</option>
								      <option value="1">Resistencia</option>
								      <option value="2">Capital</option>
								      <option value="3">Viedma</option>
								    </select>
								    <label>Donde estoy</label>
					      		</div>
					      		<div class="input-field col s12">
						          <input placeholder="Mi Objetivo" id="hasta_dom" type="text" class="validate" />
						          <label for="hasta_dom">Domicilio, Calle o Ubicación</label>
						        </div>
			      			</div>
			      		</div>
			      	</div>
			      </li>
			    </ul>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<a href="busqueda_fletero.html" class="btn waves-effect waves-light teal darken-4 right-align" type="submit" name="action">Siguiente
				    <i class="material-icons right">send</i>
				</a>
			</div>
		</div>
	</main>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

    <script type="text/javascript">
    	$(document).ready(function(){
		    $('.sidenav').sidenav();
		    $('.carousel').carousel();
		    $('select').formSelect();
		  });

    </script>
</body>
</html>